body{
	background-image:url('gg.jpg');
	background-size:repeat;
	
}
.nge{
	font-size: 35px;
	font-family:Arial;
	color:orange;	
}
.meow{
	font-size:20px;
	font-family:Arial;
	color:white;

}
.joke{
	font-size:50px;
	font-family :Harlow Solid Regular;
	color: white;
}
.btn1{
	background-color:red;
	color:white;
	font-family:Arial;
}
