body{
	background-image:url('xxx.jpg');
	background-size:cover;
	
}

h2 {
	font-family: times new roman;
	font-size: 30px;
	text-align: center;
}

h1 {
	font-size: 15px;
	font: bold;
}
