body{
	background-image:url('gg.jpg');
	background-size:repeat;
	
}

h2 {
	font-family: times new roman;
	font-size: 30px;
	text-align: center;
}

h1 {
	font-size: 35px;
	font: bold;
}
ul{
	font-size: 20px;
	font-family:Arial;
		
}
.joke{
	font-size:50px;
	font-family :Harlow Solid Regular;
}
